.bgGrid {
	background: transparent;
	background-image: radial-gradient(at center, transparent 0%, hsl(var(--background)) 100%),
		linear-gradient(theme('colors.indigo.900 / 15%') 1px, transparent 1px),
		linear-gradient(90deg, theme('colors.indigo.800 / 15%') 1px, transparent 1px);
	background-size:
		100% 100%,
		40px 40px,
		40px 40px;
	background-position: center center;
}
